/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap-datepicker
 *= require_self
*/

@import "bootstrap";

@media print {
  body { background-color: #000; }
  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  #line-items {
    page-break-before: always;
  }
}
.footer {
  @extend .breadcrumb;
  @extend .footer;
  margin-top: 10px;
  text-align: center;
}
.box { 
  background-color: #fff;
  padding:10px;  
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.25);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,.25);
  box-shadow: 0 1px 5px rgba(0,0,0,.25);
  h2.title {
    font-size: 12px;
    margin:0 -10px; padding:0 10px; margin-bottom:8px;
    color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
}
.container { width:960px; }
.container-fluid { padding:0; }
.container-fluid > .sidebar {
  position:absolute;
  left:auto;
  right:0;
  top:0;
  width: 240px;
}

.container-fluid > .content {
   margin-left:0;
   margin-right: 260px;
}
.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.float-right {
  float: right; 
}
.float-left {
  float: left;
}

.table-menued {
  @extend .table;
  @extend .table-bordered;
  
  tbody tr td {
    margin: 0px;
    text-align: center;
    width: 85px;

    a {
      @extend .btn;
      @extend .btn-large;
      @extend .btn-info;

      width: 83px;
      font-weight: bold;
    }
  }
}

.table-listed {
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .table-condensed;

  thead tr {
    th {
      text-align: center;
    }
    th:not(:last-child) {
      max-width: 100px;
    }
  }

  tbody tr {
    td:not(:last-child) {
      max-width: 100px;  
    }  
  }
  .btn-group {
    .btn-show, .btn-edit, .btn-danger, .btn-new, .btn-back, .btn-new, .btn-back, .btn-confirm, .btn-xls, .btn-print {
      @extend .btn-small;
    }
  }
}

.btn-show, .btn-edit, .btn-danger, .btn-new, .btn-back, .btn-new, .btn-back, .btn-confirm, .btn-xls, .btn-print, .btn-upload {
  @extend .btn;
}
.btn-edit {
  @extend .btn-primary;
}
.btn-upload {
  @extend .btn-primary;
}
.btn-destroy {
  @extend .btn-danger;
}
.btn-new {
  @extend .btn-success;
}
.btn-back {
  @extend .btn-inverse;
}
.btn-confirm {
  @extend .btn-info;
}
.btn-xls {
  @extend .btn-success;
}
.btn-print {
  @extend .btn-warning;
}

.operation-group {
  @extend .btn-toolbar;
/*
  @extend .well;
  @extend .form-actions;
*/
}
.action-group {
  @extend .btn-group;
}

.search {
  @extend .form-search;
  input[type='text']{
    @extend .search-query;
    @extend .span4;
  }
}

.header-info {
  @extend .alert;
  @extend .alert-info;

  font-weight: bold;
}

