/*
.table-listed {
  thead {
    tr {
      th {
        font-size: 2em;  
        text-align: left;
        
        .barcode {
          width: 100px;
        }
        .qrcode {
          width: 50px;
        }
      }
    }
  }  
}
*/
/*
table.obj-list {
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-spacing: 1px;
  background-color: #000;
  cellspacing: 1px;

  tr {
    height: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border: 0px;

    th, td {
      padding: 0px;
      margin: 0px;
      width: auto;
      border-spacing: 0px;
      cellspacing: 0px;
    }
    th {
      color: #000000;
      background-color: #d3eaef;
      font-weight: bold;
    }
    td {
      background-color: #FFFFFF;
      span {
        font-size: 12px;
      }
    }

  }
}

.print-list {
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
  tr {
    padding: 0px;
    margin: 0px;
    td {
      padding: 0px;
      margin: 0px;
      border: 1px solid #000;
    }
  }
}
*/
