<%= simple_form_for :archive, :url => data_injections_path, :html => { :multipart => true , :class => 'form-horizontal' }  do |f| %>
    <div class="form-inputs">
      <%= f.file_field :archive %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, t('helpers.links.upload') %> 
    </div>
<% end %>
